html,
body {
  height: 100%;
}

body {
  @extend %mont-400;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.04em;
  color: $default;
}

a{
  display: inline-block;
  color: inherit;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}

.container-fluid {
  max-width: 1340px;
  padding: 0 15px;
  margin: 0 auto;
}

.container {
  max-width: 1115px;
  padding: 0 15px;
  margin: 0 auto;
}
